*.pyc
*__pycache__*
*data/*
*jpg*
*png*
*jpeg*
*json
*nl
*out*
*tb-logs*
*checkpoint*
*output*
*venv*
*assets*
*rsna-pneumonia-detection-challenge*
*.gz
*idea*
*.xml
*.out
*.pth
*.p
*.json
*.nl
*surfsara.nl
*.idea*
